PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/producthub?retryWrites=true&w=majority
JWT_SECRET=change_this_secret_min32chars_here
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_this_refresh_secret_min32chars
JWT_REFRESH_EXPIRES_IN=30d
CLIENT_URL=http://localhost:3000
